name: Check PR

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]


jobs:
  auto-label:
    name: auto-label
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint-title:
    name: lint-title
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            chore
            ci
            revert
          subjectPattern: '^[^A-Z].*'
          subjectPatternError: |
            The subject (message after the colon) must start with a lowercase letter.

            **Examples:**
            - (Good) `docs: update README with new instructions`
            - (Bad)  `docs: Update README with new instructions`

  require-labels:
    name: require-labels
    needs: [auto-label]
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          labels: |
            feature
            bug
            documentation
            style
            refactor
            performance
            test
            chore
            ci
            revert
