name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  golangci-lint:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cgo: '0'
          - os: macos-latest
            cgo: '1'
    name: golangci-lint on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout PR Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true

      - run: go version

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --verbose
          skip-cache: false
        env:
          CGO_ENABLED: ${{ matrix.cgo }}

  go-test:
    name: go-test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # run tests on ubuntu, macos, and windows
        os: [ubuntu-latest, macos-latest]
        go-version: ['1.24']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run tests
        # execute tests including race condition check
        run: go test -v -race ./...

  release-test:
    name: release-test
    permissions:
      contents: write
      id-token: write
    runs-on: macos-latest
    steps:
      - name: Check out PR code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0 # GoReleaser requires git history

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true

      - name: Install Syft
        run: |
          curl -sSfL https://get.anchore.io/syft | sudo sh -s -- -b /usr/local/bin

      # v4.0.0
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad

      - name: Run GoReleaser (Snapshot)
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --snapshot --clean --skip=publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
