name: Release Drafter

# on:
#   push:
#     branches:
#       - main
#   # pull_request event is required for autolabeler
#   pull_request:
#     types: [opened, reopened, synchronize]

on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  update_draft_release:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
